<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>filters.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>filters.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/ChangeFeatures</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.AppContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextAttributeListener</description>
        <listener-class>listeners.AppContextAttributeListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listeners.MySessionListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>listeners.MyServletRequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>servlets.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProducts</servlet-name>
        <servlet-class>servlets.AddProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>servlets.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProductsOrderStatus</servlet-name>
        <servlet-class>servlets.CustomerProductsOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductOrders</servlet-name>
        <servlet-class>servlets.GetProductOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductQuantity</servlet-name>
        <servlet-class>servlets.UpdateProductQuantity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProducts</servlet-name>
        <url-pattern>/AddProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProductsOrderStatus</servlet-name>
        <url-pattern>/CustomerProductsOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductOrders</servlet-name>
        <url-pattern>/GetProductOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductQuantity</servlet-name>
        <url-pattern>/UpdateProductQuantity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
